<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QiaoQiao</title>
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
   
    <!-- Modernizr JS -->
    <script src="~/Content/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="~/Content/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header role="banner" id="fh5co-header">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <a class="navbar-brand" href="index.html">QiaoQiao</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#" data-nav-section="home"><span>这一刻</span></a></li>
                        <li><a href="#" data-nav-section="Talk"><span>说说</span></a></li>
                        <li><a href="#" data-nav-section="About"><span>详细说明</span></a></li>
                        <li><a href="#" data-nav-section="Profile"><span>懂你</span></a></li>
                        <li><a href="#" data-nav-section="HowMany"><span>统计</span></a></li>
                        <li><a href="#" data-nav-section="contact"><span>联络</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer id="footer" role="contentinfo">
        <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
        <div class="container">
            <div class="">
                <div class="col-md-12 text-center">
                    <p>&copy; 版权所有 - 老友网络(qiaoqiao520.com)</p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social social-circle">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/elate")
    @RenderSection("scripts", required: false)
</body>
</html>
